// .photo-grids-container:after {
//   content: "";
//   flex: auto;
// }
$button-transition: all 0.18s ease;
$button-shadow: 0 0 4px #999;
$theme-color-buttons: rgba(248, 131, 121, 0.7);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.photo-grids-container{
  width: 85%;
  display: flex;

  flex-flow: row wrap;

  padding:2px;

  justify-content: center;;
  margin: 1em auto;

  .img-grid{
    flex-grow: 1;

    border-left: none;
    box-sizing: border-box;
    width: 30%;
    max-width: 30%;
    background-size: contain;
    background-repeat: no-repeat;

    height: 312px;
    overflow: hidden;

    justify-content: flex-end;
    margin:2px;

    .delete-button{
      opacity: 0;
      @include transition($button-transition);

      margin: 7px;
      padding: 0;
      z-index: 1000;
      border-radius: 45px;

      color: #eee;
      background: rgba(150, 150, 150, 0.4);

      font-size: 28px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
    }
  }

  .img-grid:hover{
    .delete-button{
      opacity: 1;
      @include transition(all 0.2s ease);
    }

    .delete-button:hover{
      cursor: pointer;
      border-radius: 30%;
      background: $theme-color-buttons;
      box-shadow: $button-shadow;
    }
  }
  //
  // .photo-detail-grids{
  //   flex-direction: row;
  //   width: 602px;
  //   height: 268px;
  //   flex-grow: 1;

  //   .img-grid{
  //     width: 400px;
  //     height: 266px;
  //     overflow: hidden;

    // .content-grid{
    //   background: white;
    //   width: 180px;
    // }
  // }
}
