/* line 3, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-container {
  flex-direction: column;
  width: 84.9%;
  padding: 0 3px;
}

/* line 9, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-fields-container {
  flex-direction: column;
  position: relative;
  top: 5px;
  min-height: 328px;
  flex: none;
}

/* line 18, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-field-container {
  padding: 18px 30px;
  justify-content: space-between;
  width: 100%;
}

/* line 24, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-field {
  width: 80%;
}

/* line 28, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-field-label {
  line-height: 34px;
  font-size: 13px;
}

/* line 33, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-item {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  margin: 0 6.250px;
  padding: 10px 15px;
  width: 29%;
  height: 38px;
  box-sizing: border-box;
  font-size: 13px;
  color: inherit;
  font-weight: 350px;
}

/* line 50, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-item label {
  overflow: hidden;
}

/* line 54, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
select.search-item {
  background: #ddd;
}

/* line 58, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-type-field {
  background: #EDEFED;
  justify-content: space-between;
}

/* line 63, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
input[type=checkbox] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
}

/* line 68, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
#priceSlider {
  background: #BABABA;
}

/* line 72, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
.search-hr {
  width: 93%;
  height: 1px;
  background: #eee;
  border: none;
  margin: 0;
}

@media all and (max-width: 1090px) {
  /* line 81, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
  .search-field-container {
    flex-direction: column;
    align-items: center;
  }

  /* line 86, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
  .search-field {
    width: 100%;
    justify-content: space-between;
  }

  /* line 91, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
  .search-date-field {
    width: 31%;
  }

  /* line 95, /Users/Yian/Development/App Academy/Class-Projects/Rx_RotationsExchanger/app/assets/stylesheets/index-page/search.scss */
  .search-fields-container hr {
    display: none;
  }
}
