.search-field-container {
  padding: 15px 30px;
  justify-content: space-between;
  width: 100%;
}

.search-field{
  width: 80%;
}

.search-field-label {
  line-height: 34px;
  font-size: 13px;
}

.search-item {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 6.250px;
  padding: 8px 10px;

  width: 29%;
  height: 34px;
  box-sizing: border-box;

  font-size: 13px;
  color: inherit;
  font-weight: 350px;
}

.search-type-field{
  background: #eee;
  justify-content: space-between;
}

input[type=checkbox]{
  transform: scale(1.5);
  -webkit-transform: scale(1.5); /* Safari and Chrome */
}

#priceSlider {
	background: #BABABA;
}

.search-hr{
  width: 93%;
  height:1px;
  background:#eee;
  border: none;
  margin: 0;
}

@media all and (max-width: 1090px){
  .search-field-container {
    flex-direction: column;
    align-items: center;
  }

  .search-field{
    width: 100%;
    justify-content: space-between;
  }

  .search-date-field {
    width: 31%;
  }

}
